    <div class="flex-column min-100-vh">
        <header class="hero">
        <h1 class="app-title"> Welcome to the Recipe Nook</h1>
        </header>
        </div>

        <div class="container">
                <h3>What should I make for dinner tonight!?</h3>
                <form id="user-form" class="card-body">
                  <input id="keyword" type="text" autofocus="true" class="form-input" placeholder="I'm craving..."/>
                  <button type="submit" id="submitBtn">Search</button>
                </form>
              </div>
          </div>
            
           
              <h2>Suggestions for you:</h2>
              <div class="row">
              <div class="col-md-6 offset-md-3" id="recipeResults">
              {{#each recipes}}
              <div class="card" style="width: 18rem;">
              
              {{!-- <img src={{image}} class="card-img-top" alt="...">  --}}
              <div class="card-body">
                <h5 class="card-title">{{this.recipe.label}}
              </div>
              <ul class="list-group list-group-flush">
                <li class1="list-group-item1">{{this.recipe.ingredientLines}}</li>
                <li class2="list-group-item2">{{this.recipe.dishType}}</li>
                <li class3="list-group-item3">{{this.recipe.cuisineType}}</li>
              </ul>
              <div class="card-body">
                <a href="{{this.recipe.uri}}" class="card-link"></a>
              </div>
            </div>
             {{/each}}
            </div>
             
          </div>
        
          
  
  
  </div>

  
  <footer><div id="edamam-badge" data-color="white"></div></footer>
  {{!-- <script src="/js/addRecipe.js"></script> --}}