    <div class="flex-column min-100-vh">
        <header class="hero">
        <h1 class="app-title"> Welcome to the Recipe Nook</h1>
        </header>
        </div>

        <div class="container">
                <h3>What should I make for dinner tonight!?</h3>
                <form id="user-form" class="card-body">
                  <input id="keyword" type="text" autofocus="true" class="form-input" placeholder="I'm craving..."/>
                  <button type="submit" id="submitBtn">Search</button>
                </form>
              </div>
          </div>
            
           
              <div class="container" id="recipeResults"  >
              <h2>Suggestions for you:</h2>
              
              {{#each recipes}}
                <h5 class="card-title">{{this.recipe.label}}</h5>
              <ul class="list-group list-group-flush">
                <li class1="list-group-item1">{{this.recipe.ingredientLines}}</li>
                <li class2="list-group-item2">{{this.recipe.dishType}}</li>
                <li class3="list-group-item3">{{this.recipe.cuisineType}}</li>
              </ul>
              <div class="card-body">
                <a href="{{this.recipe.uri}}" class="card-link"></a>
              </div>
                {{/each}}
            </div>
           
    
             
          
        
          
  
  
  </div>

  
  <footer><div id="edamam-badge" data-color="white"></div></footer>
  <script src="/js/addRecipe.js"></script>