    <div class="flex-column min-100-vh">
        <header class="hero">
        <h1 class="app-title"> Welcome to the Recipe Nook</h1>
        </header>
        <div class="row">
            <div class=".col-4">
              <div class="card" style="width: 22rem;" >
                <h3 class="card-header text-uppercase">What should I make for dinner tonight!?</h3>
                <form id="user-form" class="card-body">
                  <input id="keyword" type="text" autofocus="true" class="form-input" placeholder="I'm craving..."/>
                  <button type="submit" id="submitBtn">Search</button>
                </form>
              </div>
            </div>
        </div>
            <div class="row"></div>
            <div class=".col-8" id="recipeResults" >
              <h2>Suggestions for you:</h2>
              {{#each recipes}}
              <div class="card" style="width: 18rem;">
              
              {{!-- <img src={{image}} class="card-img-top" alt="...">  --}}
              <div class="card-body">
                <h5 class="card-title">{{this.recipe.label}}
              </div>
              <ul class="list-group list-group-flush">
                <li class1="list-group-item1">{{this.recipe.ingredientLines}}</li>
                <li class2="list-group-item2">{{this.recipe.dishType}}</li>
                <li class3="list-group-item3">{{this.recipe.cuisineType}}</li>
              </ul>
              <div class="card-body">
                <a href="{{this.recipe.uri}}" class="card-link"></a>
              </div>
            </div>
              {{/each}}
          </div>
        </div>
          
  
   <div class=".col-6">
     <h1>My Favorite Recipes</h1>

   </div> 
  </div>

  
  <footer><div id="edamam-badge" data-color="white"></div></footer>
  {{!-- <script src="/js/addRecipe.js"></script> --}}